openapi: 3.0.0
info:
  title: phoenix_api
  version: '9'
servers:
  - url: 'https://api.utelly.com/phoenix/9'
    description: prod
paths:
  /genres:
    get:
      summary: Get genres
      tags:
        - Genre Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: genre.get
      description: ''
      parameters:
        - schema:
            type: array
            items:
              type: string
          in: query
          name: id
          style: form
  '/user/{user_guid}/locations':
    get:
      summary: Get user locations
      tags:
        - Location Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.location.get
      parameters: []
      description: ''
    parameters:
      - schema:
          type: string
        name: user_guid
        in: path
        required: true
  /search:
    post:
      summary: Search
      tags:
        - Search Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: search.search
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - event
                    - odevent
                user:
                  type: string
                payload:
                  type: object
                  properties:
                    locations.id:
                      type: object
                      properties:
                        include:
                          type: array
                          items:
                            type: string
                        exclude:
                          type: array
                          items:
                            type: string
                    metadata.content_rating:
                      type: array
                      items:
                        type: string
                    topic.metadata.release_date:
                      type: array
                      items:
                        type: string
                        pattern: "^\\[([0-9]+|\\*) TO ([0-9]+|\\*)\\]$"
                    q:
                      type: string
                    method:
                      oneOf:
                        - properties:
                            name:
                              type: string
                              enum:
                                - any
                          required:
                            - name
                        - properties:
                            name:
                              type: string
                              enum:
                                - boxed
                            args:
                              type: object
                              properties:
                                when:
                                  type: string
                                  format: date-time
                                min_left:
                                  type: integer
                                starts_in:
                                  type: integer
                              required:
                                - when
                                - min_left
                                - starts_in
                          required:
                            - name
                        - properties:
                            name:
                              type: string
                              enum:
                                - spot
                            args:
                              type: object
                              required:
                                - when
                              properties:
                                when:
                                  type: string
                                  format: date-time
                          required:
                            - name
                            - args
                        - properties:
                            name:
                              type: string
                              enum:
                                - slice
                            args:
                              type: object
                              required:
                                - when
                                - starts_in
                              properties:
                                when:
                                  type: string
                                  format: date-time
                                starts_in:
                                  type: integer
                          required:
                            - name
                            - args
                      type: object
                    topic.actors.name:
                      type: array
                      items:
                        type: string
                    topic.directors.name:
                      type: array
                      items:
                        type: string
                    topic.genre_ids:
                      type: array
                      items:
                        type: string
                    created:
                      type: array
                      items:
                        type: string
                        pattern: "^\\[today((\\\\+|\\\\-)([0-9]+))*\\\\|(([0-9]{2}):([0-9]{2})|now) TO today((\\\\+|\\\\-)([0-9]+))*\\\\|(([0-9]{2}):([0-9]{2})|now)\\]$"
                    topic.type.id:
                      type: array
                      items:
                        type: string
                    topic.id:
                      type: array
                      items:
                        type: string
                  required:
                    - method
                order:
                  type: string
                  enum:
                    - relevancy
                    - popular
                    - recommend
                    - rating
                    - channels
                respect_user_locations:
                  type: boolean
                enforce_active_locations:
                  type: boolean
              required:
                - type
                - user
                - order
  '/collection/{collection_id}/info':
    get:
      summary: Get collection info
      tags:
        - Collection Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: collection.info
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: collection_id
        in: path
        required: true
  /lookup:
    get:
      summary: Lookup by term
      tags:
        - Lookup Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: lookup.get_by_term
      parameters:
        - schema:
            type: string
          in: query
          name: term
  /idlookup:
    get:
      summary: Lookup by id
      tags:
        - Lookup Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: lookup.get_by_id
      parameters:
        - schema:
            type: string
            enum:
              - imdb
              - tmdb
              - wiki_data
          in: query
          name: source_id
        - schema:
            type: string
          in: query
          name: source
  '/user/{email}/reset/password':
    get:
      summary: Reset password init
      tags:
        - User Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.password.reset_init
      security:
        - X-AppKey: []
    post:
      summary: Reset password confirm
      tags:
        - User Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.password.reset_complete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                password:
                  type: string
              required:
                - token
                - password
      security:
        - X-AppKey: []
    parameters:
      - schema:
          type: string
        name: email
        in: path
        required: true
  /user:
    get:
      summary: Login user
      tags:
        - User Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.get
      parameters:
        - schema:
            type: string
          in: query
          name: email
        - schema:
            type: string
          in: query
          name: password
      security:
        - X-AppKey: []
    post:
      summary: Register user
      tags:
        - User Management
      operationId: user.post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
        description: ''
      security:
        - X-AppKey: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties: {}
    put:
      summary: Update user
      operationId: user.put
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                old_password:
                  type: string
              required:
                - email
                - password
                - old_password
      tags:
        - User Management
  '/user/{user_guid}/logout':
    get:
      summary: Logout user
      tags:
        - User Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.logout
      description: ''
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/reset/{object}':
    get:
      summary: Reset user
      tags:
        - User Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.reset.object
      description: ''
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
      - schema:
          type: string
          enum:
            - profile
            - locations
            - activity
            - link_expire
        name: object
        in: path
        required: true
  '/user/{user_guid}/activity':
    post:
      summary: Create a new activity
      tags:
        - Activity Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.activity.post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                id:
                  type: string
                type:
                  type: string
                context:
                  type: object
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/tastes':
    get:
      summary: Get user tastes
      tags:
        - Tastes Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: taste.get
    post:
      summary: Set user tastes
      tags:
        - Tastes Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: taste.post
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: ../models/taste.v1.yaml
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/ratings':
    get:
      summary: Get user ratings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.rating.get
      tags:
        - Rating Management
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/preferences':
    get:
      summary: Get user preferences
      tags:
        - User Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.preference.get
    post:
      summary: Set user preferences
      tags:
        - User Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.preference.post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                kvs:
                  type: object
                  additionalProperties:
                    anyOf:
                      - type: string
                      - type: integer
                      - type: object
                      - type: array
                locations:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: '^([A-Fa-f0-9]){24}$'
                      selected:
                        type: boolean
                      is_extra:
                        type: boolean
                        description: default value is given from GET request
        description: ''
      description: ''
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/trackers':
    get:
      summary: Get user trackers
      tags:
        - Tracker Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: user.tracker.get
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/tracker/{tracker_id}':
    post:
      summary: Create user tracker
      tags:
        - Tracker Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: tracker.post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                id:
                  type: string
                  pattern: '^([A-Fa-f0-9]){24}$'
                type:
                  type: string
                  enum:
                    - event
                    - odevent
              required:
                - name
                - id
                - type
    delete:
      summary: Delete user tracker
      tags:
        - Tracker Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: tracker.delete
    get:
      summary: Get user tracker
      tags:
        - Tracker Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: tracker.get
      description: ''
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: tracker_id
        in: path
        required: true
  '/user/{user_guid}/{type}/{id}/rate':
    post:
      summary: Create user event rating
      tags:
        - Rating Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: event.rate.post
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - properties:
                    value:
                      type: string
                      enum:
                        - favour
                        - unfavour
                        - delete
                        - undelete
                        - neutral
                - properties:
                    action:
                      type: string
                      enum:
                        - rate
                    score:
                      type: integer
                      minimum: 1
                      maximum: 5
              type: object
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
      - schema:
          type: string
          enum:
            - topic
            - genre
        name: type
        in: path
        required: true
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: id
        in: path
        required: true
  '/{event_type}/{event_id}/trailer':
    get:
      summary: Get event trailer
      tags:
        - Event Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: event.trailer.get
      description: ''
    parameters:
      - schema:
          type: string
          enum:
            - event
            - odevent
        name: event_type
        in: path
        required: true
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: event_id
        in: path
        required: true
  '/{event_type}/{event_id}/info':
    get:
      summary: Get event details
      tags:
        - Event Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: event.info
    parameters:
      - schema:
          type: string
          enum:
            - event
            - odevent
        name: event_type
        in: path
        required: true
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: event_id
        in: path
        required: true
  '/{event_type}/{event_id}/gallery':
    get:
      summary: Get event gallery
      tags:
        - Event Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: event.gallery.get
    parameters:
      - schema:
          type: string
          enum:
            - event
            - odevent
        name: event_type
        in: path
        required: true
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: event_id
        in: path
        required: true
components:
  schemas: {}
  securitySchemes:
    Authorization:
      name: Authorization
      type: apiKey
      in: header
    X-AppKey:
      name: X-AppKey
      type: apiKey
      in: header
security:
  - Authorization: []
  - X-AppKey: []
