openapi: 3.0.0
info:
  title: phoenix_api
  version: '9'
servers:
  - url: 'https://api.utelly.com/phoenix/9'
    description: prod
paths:
  /genres:
    get:
      summary: Get genres
      tags:
        - Genre Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                '1':
                  value:
                    status_code: 200
                    genres:
                      - id: 5be1f15fd3b181002fe3c578
                        name: "TV Shows,\_International TV Shows,\_Korean TV Shows,\_Romantic TV Shows,\_TV Comedies,\_TV Dramas,\_TV Dramedies"
                        hypernyms: []
                        hyponyms: []
                        synonyms: []
                    variant: utellygn
      operationId: genre.get
      description: ''
      parameters:
        - schema:
            type: array
            items:
              type: string
          in: query
          name: id
          style: form
  '/user/{user_guid}/locations':
    get:
      summary: Get user locations
      tags:
        - Location Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                '1':
                  value:
                    status_code: 200
                    locations:
                      - id: 5b9935cab5c00724a70e8479
                        name: BBC One London
                        selected: true
                        favorited: false
                        provider:
                          name: gracenote
                        icon: 'https://utellyassets4-7.imgix.net/assets/s30644_ll_h8_aa.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                        service_icon: 'https://utellyassets4-7.imgix.net/assets/s30644_ll_h8_aa.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                        play_option_icon: 'https://utellyassets4-7.imgix.net/assets/s30644_ll_h8_aa.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                        dual_att_icon: null
                        addons: []
                        type: linear_tv
                        category: linear_tv
                        play_target_template: '{{type}} from {{name}} in {{quality}} ({{currency}}{{price}})'
                        source_id: '30644'
                        is_extra: false
                        parent: null
                    variant: utellygn
      operationId: user.location.get
      parameters: []
      description: ''
    parameters:
      - schema:
          type: string
        name: user_guid
        in: path
        required: true
  /search:
    post:
      summary: Search
      tags:
        - Search Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                '1':
                  value:
                    variant: utellygn
                    status_code: 200
                    search_id: ee2040de-ff0b-4492-9bdd-c35958acf600
                    total_count: 6461
                    collections:
                      - id: 5bbdca739d59a100011e5ac0
                        events:
                          - id: 5bbdc98ac8c735002fe65520
                            name: Dragonstone
                            picture: 'https://utellyassets4-8.imgix.net/assets/p14160795_e_h8_aa.jpg?fit=crop&auto=compress&crop=faces,top'
                            picture_gradient: '#373737'
                            description: "Jon Snow organises his defences in the North; Daenerys returns home to Dragonstone; Cersei seeks allies and tries to even the odds; Arya reminds the Freys `The North remembers'."
                            tracker: null
                            topic:
                              name: Game of Thrones
                              keywords:
                                - '#gameofthrones'
                                - game of thrones
                              id: 5bbdc987c8c735002fe653f3
                              genre_ids:
                                - 55115530ebb7f964c26ae26c
                                - 55115aecebb7f964da6ae281
                              mood_ids:
                                - 5d8a7f5e7311cc0052e38a60
                                - 5d8b4a84afdcdb0051994814
                                - 5d8ae6f8afdcdb0051992ea0
                                - 5d8a7eea7311cc0052e38a5a
                                - 5d8ad3127311cc0051692230
                                - 5d8abd107311cc0054aa1e96
                                - 5d8a8c517311cc0052e38bbc
                              descriptions_all: []
                              names_all: []
                              metadata:
                                trailers_all:
                                  - lang: en
                                    id: '785881'
                                    name: Game Of Thrones
                                    provider: iva
                                release_date: 2012
                              rate: null
                              favour: false
                              delete: false
                              type:
                                id: 57b59110ebb7f910c5969cc9
                                name: Series
                            locations:
                              - name: AmazonGN
                                id: 5bab5c3b88d72aa33fd1b5a5
                                favorited: false
                                provider:
                                  name: AmazonGN
                                  metadata: {}
                                icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/AmazonGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                                service_icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/AmazonGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                                play_option_icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/AmazonGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                                dual_att_icon: null
                                play_target_template: '{{type}} from {{name}} in {{quality}} ({{currency}}{{price}})'
                                addons: []
                                selected: true
                                type: on_demand
                                prices:
                                  - type: Buy
                                    currency: GBP
                                    value: 1.89
                                    quality: SD
                                    requirements: []
                                  - type: Buy
                                    currency: GBP
                                    value: 2.49
                                    quality: HD
                                    requirements: []
                                targets:
                                  webview_ios:
                                    recipe_args:
                                      url: 'http://www.amazon.co.uk/gp/product/B0752QZJWG?tag=utellycom00-21'
                                  webview_android:
                                    recipe_args:
                                      url: 'http://www.amazon.co.uk/gp/product/B0752QZJWG?tag=utellycom00-21'
                                  webview_computer:
                                    recipe_args:
                                      url: 'http://www.amazon.co.uk/gp/product/B0752QZJWG?tag=utellycom00-21'
                                  native_ios:
                                    recipe_args:
                                      url: 'aiv-uk://aiv/play?asin=B0752QZJWG&tag=utellycom00-21'
                                  native_ngtv:
                                    recipe_args:
                                      app: AmazonGN
                                      webURL: 'http://www.amazon.co.uk/gp/product/B0752QZJWG?tag=utellycom00-21'
                                  native_android:
                                    recipe_args:
                                      url: 'content://com.amazon.avod.detail?asin=B0752QZJWG&tag=utellycom00-21'
                              - name: ITunesGN
                                id: 5bb4911c6183703dfaba1a2c
                                favorited: false
                                provider:
                                  name: ITunesGN
                                  metadata: {}
                                icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/ITunesGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                                service_icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/ITunesGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                                play_option_icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/ITunesGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                                dual_att_icon: null
                                play_target_template: '{{type}} from {{name}} in {{quality}} ({{currency}}{{price}})'
                                addons: []
                                selected: true
                                type: on_demand
                                prices:
                                  - type: Buy
                                    currency: GBP
                                    value: 1.89
                                    quality: SD
                                    requirements: []
                                  - type: Buy
                                    currency: GBP
                                    value: 2.49
                                    quality: HD
                                    requirements: []
                                targets:
                                  native_ios:
                                    recipe_args:
                                      url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-7/id1252681093?uo=5&at=1l3v7yf'
                                  webview_computer:
                                    recipe_args:
                                      url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-7/id1252681093?uo=5&at=1l3v7yf'
                                  webview_android:
                                    recipe_args:
                                      url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-7/id1252681093?uo=5&at=1l3v7yf'
                              - name: Rakuten
                                id: 5bab5b8b88d72aa33fd1b5a3
                                favorited: false
                                provider:
                                  name: Rakuten
                                  metadata: {}
                                icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/Rakuten.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                                service_icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/Rakuten.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                                play_option_icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/Rakuten.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                                dual_att_icon: null
                                play_target_template: '{{type}} from {{name}} in {{quality}} ({{currency}}{{price}})'
                                addons: []
                                selected: true
                                type: on_demand
                                prices:
                                  - type: Rent
                                    currency: GBP
                                    value: 1.89
                                    quality: HD
                                    requirements: []
                                  - type: Buy
                                    currency: GBP
                                    value: 2.49
                                    quality: HD
                                    requirements: []
                                targets:
                                  native_ios:
                                    recipe_args:
                                      url: 'wuakitv://tv_shows/game-of-thrones'
                                  webview_computer:
                                    recipe_args:
                                      url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-7'
                                  webview_ios:
                                    recipe_args:
                                      url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-7'
                                  webview_android:
                                    recipe_args:
                                      url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-7'
                                  native_ngtv:
                                    recipe_args:
                                      app: Rakuten
                                      webURL: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-7'
                            metadata:
                              episode: '1'
                              season: '7'
                              content_rating: '18'
                              official_url: null
                              imdb:
                                url: 'http://www.imdb.com/title/tt0944947/'
                                id: tt0944947
                              rotten_tomatoes: null
                              wikipedia:
                                url: 'http://en.wikipedia.org/w/index.php?curid=20715044'
                                id: '20715044'
                              twitter:
                                url: 'http://twitter.com/GameOfThrones'
                                id: GameOfThrones
                              facebook:
                                url: 'http://www.facebook.com/74133697733'
                                id: '74133697733'
                              iva_rating: '100'
                              duration: null
                              duration_for_data_usage: 40
                            type: odevent
                            price_value: from £1.89
                        name: Game of Thrones
                        picture: 'https://utellyassets4-9.imgix.net/assets/p8553063_b_h8_ba.jpg?fit=crop&auto=compress&crop=faces,top'
                        poster: 'https://utellyassets4-7.imgix.net/assets/p16473346_b_v13_ab.jpg?fit=crop&auto=compress&crop=faces,top'
                        picture_gradient: '#373737'
                        type: TV
                        promotion_title: null
                        description: "George R.R. Martin's best-selling book series `A Song of Ice and Fire' is brought to the screen as HBO sinks its considerable storytelling teeth into the medieval fantasy epic. It's the depiction of two powerful families - kings and queens, knights and renegades, liars and honest men - playing a deadly game for control of the Seven Kingdoms of Westeros, and to sit atop the Iron Throne. Martin is credited as a co-executive producer and one of the writers for the series, which was filmed in Northern Ireland and Malta."
                        related_search_is_specific: false
                        multiple_episodes: true
                        tracking: {}
                    warnings: []
                    interactive: []
      operationId: search.search
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - event
                    - odevent
                user:
                  type: string
                payload:
                  type: object
                  properties:
                    locations.id:
                      type: object
                      properties:
                        include:
                          type: array
                          items:
                            type: string
                        exclude:
                          type: array
                          items:
                            type: string
                    metadata.content_rating:
                      type: array
                      items:
                        type: string
                    topic.metadata.release_date:
                      type: array
                      items:
                        type: string
                        pattern: "^\\[([0-9]+|\\*) TO ([0-9]+|\\*)\\]$"
                    q:
                      type: string
                    method:
                      oneOf:
                        - properties:
                            name:
                              type: string
                              enum:
                                - any
                          required:
                            - name
                        - properties:
                            name:
                              type: string
                              enum:
                                - boxed
                            args:
                              type: object
                              properties:
                                when:
                                  type: string
                                  format: date-time
                                min_left:
                                  type: integer
                                starts_in:
                                  type: integer
                              required:
                                - when
                                - min_left
                                - starts_in
                          required:
                            - name
                        - properties:
                            name:
                              type: string
                              enum:
                                - spot
                            args:
                              type: object
                              required:
                                - when
                              properties:
                                when:
                                  type: string
                                  format: date-time
                          required:
                            - name
                            - args
                        - properties:
                            name:
                              type: string
                              enum:
                                - slice
                            args:
                              type: object
                              required:
                                - when
                                - starts_in
                              properties:
                                when:
                                  type: string
                                  format: date-time
                                starts_in:
                                  type: integer
                          required:
                            - name
                            - args
                      type: object
                    topic.actors.name:
                      type: array
                      items:
                        type: string
                    topic.directors.name:
                      type: array
                      items:
                        type: string
                    topic.genre_ids:
                      type: array
                      items:
                        type: string
                    created:
                      type: array
                      items:
                        type: string
                        pattern: "^\\[today((\\\\+|\\\\-)([0-9]+))*\\\\|(([0-9]{2}):([0-9]{2})|now) TO today((\\\\+|\\\\-)([0-9]+))*\\\\|(([0-9]{2}):([0-9]{2})|now)\\]$"
                    topic.type.id:
                      type: array
                      items:
                        type: string
                    topic.id:
                      type: array
                      items:
                        type: string
                  required:
                    - method
                order:
                  type: string
                  enum:
                    - relevancy
                    - popular
                    - recommend
                    - rating
                    - channels
                respect_user_locations:
                  type: boolean
                enforce_active_locations:
                  type: boolean
              required:
                - type
                - user
                - order
            examples:
              '1':
                value:
                  type: odevent
                  method:
                    name: any
                    args: {}
                  payload:
                    q: game of thrones
                  order: relevancy
                  user: 542541a360efab014d817a79
                  limit: 1
  '/collection/{collection_id}/info':
    get:
      summary: Get collection info
      tags:
        - Collection Management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                '1':
                  value:
                    status_code: 200
                    collection:
                      id: 5bbdca739d59a100011e5ac0
                      name: Game of Thrones
                      picture: 'https://utellyassets4-9.imgix.net/assets/p8553063_b_h8_ba.jpg?fit=crop&auto=compress&crop=faces,top'
                      poster: 'https://utellyassets4-7.imgix.net/assets/p16473346_b_v13_ab.jpg?fit=crop&auto=compress&crop=faces,top'
                      picture_gradient: '#373737'
                      type: Series
                      promotion_title: null
                      description: "George R.R. Martin's best-selling book series `A Song of Ice and Fire' is brought to the screen as HBO sinks its considerable storytelling teeth into the medieval fantasy epic. It's the depiction of two powerful families - kings and queens, knights and renegades, liars and honest men - playing a deadly game for control of the Seven Kingdoms of Westeros, and to sit atop the Iron Throne. Martin is credited as a co-executive producer and one of the writers for the series, which was filmed in Northern Ireland and Malta."
                      related_search_is_specific: false
                      multiple_episodes: true
                      tracking: {}
                      categories:
                        - category_name: '1'
                          category_order: 1
                          locations:
                            - id: 5bab5c3b88d72aa33fd1b5a5
                              name: AmazonGN
                              selected: false
                              favorited: false
                              provider:
                                name: AmazonGN
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/AmazonGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                webview_ios:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00HFGNOVE?tag=utellycom00-21'
                                webview_android:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00HFGNOVE?tag=utellycom00-21'
                                webview_computer:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00HFGNOVE?tag=utellycom00-21'
                                native_ios:
                                  recipe_args:
                                    url: 'aiv-uk://aiv/play?asin=B00HFGNOVE&tag=utellycom00-21'
                                native_ngtv:
                                  recipe_args:
                                    app: AmazonGN
                                    webURL: 'http://www.amazon.co.uk/gp/product/B00HFGNOVE?tag=utellycom00-21'
                              prices:
                                - type: Buy
                                  currency: GBP
                                  value: 9.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 9.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 9.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 9.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 9.99
                                  quality: HD
                                  requirements: null
                            - id: 5bb4911c6183703dfaba1a2c
                              name: ITunesGN
                              selected: false
                              favorited: false
                              provider:
                                name: ITunesGN
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/ITunesGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                native_ios:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-1/id468354541?uo=5&at=1l3v7yf'
                                webview_computer:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-1/id468354541?uo=5&at=1l3v7yf'
                                webview_android:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-1/id468354541?uo=5&at=1l3v7yf'
                              prices:
                                - type: Buy
                                  currency: GBP
                                  value: 9.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 9.99
                                  quality: HD
                                  requirements: null
                            - id: 5bab5b8b88d72aa33fd1b5a3
                              name: Rakuten
                              selected: false
                              favorited: false
                              provider:
                                name: Rakuten
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/Rakuten.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                native_ios:
                                  recipe_args:
                                    url: 'wuakitv://tv_shows/game-of-thrones'
                                webview_computer:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-1'
                                webview_ios:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-1'
                                webview_android:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-1'
                                native_ngtv:
                                  recipe_args:
                                    app: Rakuten
                                    webURL: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-1'
                              prices:
                                - type: Rent
                                  currency: GBP
                                  value: 13.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 19.99
                                  quality: HD
                                  requirements: null
                          description: null
                          values:
                            - element_order: 1
                              element_name: '1'
                              odevent_ids:
                                - 5e14019e5567db0059f90afc
                              event_ids: null
                            - element_order: 10
                              element_name: '10'
                              odevent_ids:
                                - 5bbdca7fc8c735002fe65565
                              event_ids: null
                            - element_order: 2
                              element_name: '2'
                              odevent_ids:
                                - 5bbdc9eec8c735002fe6553d
                              event_ids: null
                            - element_order: 3
                              element_name: '3'
                              odevent_ids:
                                - 5bbdca01c8c735002fe65542
                              event_ids: null
                            - element_order: 4
                              element_name: '4'
                              odevent_ids:
                                - 5bbdca11c8c735002fe65547
                              event_ids: null
                            - element_order: 5
                              element_name: '5'
                              odevent_ids:
                                - 5bbdca2ec8c735002fe6554c
                              event_ids: null
                            - element_order: 6
                              element_name: '6'
                              odevent_ids:
                                - 5bbdca40c8c735002fe65551
                              event_ids: null
                            - element_order: 7
                              element_name: '7'
                              odevent_ids:
                                - 5bbdca51c8c735002fe65556
                              event_ids: null
                            - element_order: 8
                              element_name: '8'
                              odevent_ids:
                                - 5bbdca60c8c735002fe6555b
                              event_ids: null
                            - element_order: 9
                              element_name: '9'
                              odevent_ids:
                                - 5bbdca70c8c735002fe65560
                              event_ids: null
                          price_value: from £9.99
                        - category_name: '3'
                          category_order: 3
                          locations:
                            - id: 5bab5c3b88d72aa33fd1b5a5
                              name: AmazonGN
                              selected: false
                              favorited: false
                              provider:
                                name: AmazonGN
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/AmazonGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                webview_ios:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00IIFCTEE?tag=utellycom00-21'
                                webview_android:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00IIFCTEE?tag=utellycom00-21'
                                webview_computer:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00IIFCTEE?tag=utellycom00-21'
                                native_ios:
                                  recipe_args:
                                    url: 'aiv-uk://aiv/play?asin=B00IIFCTEE&tag=utellycom00-21'
                                native_ngtv:
                                  recipe_args:
                                    app: AmazonGN
                                    webURL: 'http://www.amazon.co.uk/gp/product/B00IIFCTEE?tag=utellycom00-21'
                              prices:
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                            - id: 5bb4911c6183703dfaba1a2c
                              name: ITunesGN
                              selected: false
                              favorited: false
                              provider:
                                name: ITunesGN
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/ITunesGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                native_ios:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-3/id892725427?uo=5&at=1l3v7yf'
                                webview_computer:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-3/id892725427?uo=5&at=1l3v7yf'
                                webview_android:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-3/id892725427?uo=5&at=1l3v7yf'
                              prices:
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                            - id: 5bab5b8b88d72aa33fd1b5a3
                              name: Rakuten
                              selected: false
                              favorited: false
                              provider:
                                name: Rakuten
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/Rakuten.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                native_ios:
                                  recipe_args:
                                    url: 'wuakitv://tv_shows/game-of-thrones'
                                webview_computer:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-3'
                                webview_ios:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-3'
                                webview_android:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-3'
                                native_ngtv:
                                  recipe_args:
                                    app: Rakuten
                                    webURL: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-3'
                              prices:
                                - type: Rent
                                  currency: GBP
                                  value: 16.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 22.99
                                  quality: HD
                                  requirements: null
                          description: null
                          values:
                            - element_order: 1
                              element_name: '1'
                              odevent_ids:
                                - 5bbdc9c2c8c735002fe65532
                              event_ids: null
                            - element_order: 1
                              element_name: '1'
                              odevent_ids: null
                              event_ids:
                                - 5e85a6467e2a72c4e6d196df
                            - element_order: 1
                              element_name: '1'
                              odevent_ids: null
                              event_ids:
                                - 5e85a6587e2a72c4e6d196e4
                            - element_order: 1
                              element_name: '1'
                              odevent_ids: null
                              event_ids:
                                - 5e85a7277e2a72c4e6d197bc
                            - element_order: 10
                              element_name: '10'
                              odevent_ids:
                                - 5bbdca47c8c735002fe65553
                              event_ids: null
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5e89c74b69ea648b9e7176f7
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5e89c77e69ea648b9e717a5c
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5e89c74469ea648b9e7176df
                            - element_order: 11
                              element_name: '11'
                              odevent_ids:
                                - 5e90ccc8316f874314082d37
                              event_ids: null
                            - element_order: 12
                              element_name: '12'
                              odevent_ids:
                                - 5e90ccca316f874314082d39
                              event_ids: null
                            - element_order: 13
                              element_name: '13'
                              odevent_ids:
                                - 5e90cccb316f874314082d3a
                              event_ids: null
                            - element_order: 14
                              element_name: '14'
                              odevent_ids:
                                - 5e90cce9316f874314082d3c
                              event_ids: null
                            - element_order: 15
                              element_name: '15'
                              odevent_ids:
                                - 5e90cccc316f874314082d3b
                              event_ids: null
                            - element_order: 2
                              element_name: '2'
                              odevent_ids:
                                - 5bbdc9c7c8c735002fe65533
                              event_ids: null
                            - element_order: 2
                              element_name: '2'
                              odevent_ids: null
                              event_ids:
                                - 5e7a5d44ac86669ce6f1be77
                            - element_order: 2
                              element_name: '2'
                              odevent_ids: null
                              event_ids:
                                - 5e7a5cfcac86669ce6f1bac6
                            - element_order: 2
                              element_name: '2'
                              odevent_ids: null
                              event_ids:
                                - 5e7a5cefac86669ce6f1baae
                            - element_order: 3
                              element_name: '3'
                              odevent_ids:
                                - 5bbdc9cfc8c735002fe65535
                              event_ids: null
                            - element_order: 3
                              element_name: '3'
                              odevent_ids: null
                              event_ids:
                                - 5e85b4767e2a72c4e6d1b3e9
                            - element_order: 3
                              element_name: '3'
                              odevent_ids: null
                              event_ids:
                                - 5e85b3c47e2a72c4e6d1b316
                            - element_order: 3
                              element_name: '3'
                              odevent_ids: null
                              event_ids:
                                - 5e85b3b27e2a72c4e6d1b310
                            - element_order: 4
                              element_name: '4'
                              odevent_ids:
                                - 5bbdc9d7c8c735002fe65537
                              event_ids: null
                            - element_order: 4
                              element_name: '4'
                              odevent_ids: null
                              event_ids:
                                - 5e85e37c7e2a72c4e6d2ece9
                            - element_order: 4
                              element_name: '4'
                              odevent_ids: null
                              event_ids:
                                - 5e85e38a7e2a72c4e6d2ed00
                            - element_order: 4
                              element_name: '4'
                              odevent_ids: null
                              event_ids:
                                - 5e85e3e27e2a72c4e6d2f199
                            - element_order: 5
                              element_name: '5'
                              odevent_ids:
                                - 5bbdc9e6c8c735002fe6553b
                              event_ids: null
                            - element_order: 5
                              element_name: '5'
                              odevent_ids: null
                              event_ids:
                                - 5e85e37c7e2a72c4e6d2ecea
                            - element_order: 5
                              element_name: '5'
                              odevent_ids: null
                              event_ids:
                                - 5e85e3e27e2a72c4e6d2f19a
                            - element_order: 5
                              element_name: '5'
                              odevent_ids: null
                              event_ids:
                                - 5e85e38a7e2a72c4e6d2ed01
                            - element_order: 6
                              element_name: '6'
                              odevent_ids:
                                - 5bbdc9f6c8c735002fe6553f
                              event_ids: null
                            - element_order: 6
                              element_name: '6'
                              odevent_ids: null
                              event_ids:
                                - 5e85e9c87e2a72c4e6d32ef7
                            - element_order: 6
                              element_name: '6'
                              odevent_ids: null
                              event_ids:
                                - 5e85e9d37e2a72c4e6d32f0e
                            - element_order: 6
                              element_name: '6'
                              odevent_ids: null
                              event_ids:
                                - 5e85ea0b7e2a72c4e6d332d8
                            - element_order: 7
                              element_name: '7'
                              odevent_ids:
                                - 5bbdca07c8c735002fe65544
                              event_ids: null
                            - element_order: 7
                              element_name: '7'
                              odevent_ids: null
                              event_ids:
                                - 5e85e9c87e2a72c4e6d32ef8
                            - element_order: 7
                              element_name: '7'
                              odevent_ids: null
                              event_ids:
                                - 5e85ea0b7e2a72c4e6d332d9
                            - element_order: 7
                              element_name: '7'
                              odevent_ids: null
                              event_ids:
                                - 5e85e9d37e2a72c4e6d32f0f
                            - element_order: 8
                              element_name: '8'
                              odevent_ids:
                                - 5bbdca17c8c735002fe65549
                              event_ids: null
                            - element_order: 8
                              element_name: '8'
                              odevent_ids: null
                              event_ids:
                                - 5e887bcb29e1da4eda323fe8
                            - element_order: 8
                              element_name: '8'
                              odevent_ids: null
                              event_ids:
                                - 5e887bb729e1da4eda323fd0
                            - element_order: 8
                              element_name: '8'
                              odevent_ids: null
                              event_ids:
                                - 5e887c4e29e1da4eda32441c
                            - element_order: 9
                              element_name: '9'
                              odevent_ids:
                                - 5bbdca35c8c735002fe6554e
                              event_ids: null
                            - element_order: 9
                              element_name: '9'
                              odevent_ids: null
                              event_ids:
                                - 5e887bcb29e1da4eda323fe9
                            - element_order: 9
                              element_name: '9'
                              odevent_ids: null
                              event_ids:
                                - 5e887bb829e1da4eda323fd1
                            - element_order: 9
                              element_name: '9'
                              odevent_ids: null
                              event_ids:
                                - 5e887c4e29e1da4eda32441d
                          price_value: from £14.99
                        - category_name: '2'
                          category_order: 2
                          locations:
                            - id: 5bab5c3b88d72aa33fd1b5a5
                              name: AmazonGN
                              selected: false
                              favorited: false
                              provider:
                                name: AmazonGN
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/AmazonGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                webview_ios:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00FWJOQXG?tag=utellycom00-21'
                                webview_android:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00FWJOQXG?tag=utellycom00-21'
                                webview_computer:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00FWJOQXG?tag=utellycom00-21'
                                native_ios:
                                  recipe_args:
                                    url: 'aiv-uk://aiv/play?asin=B00FWJOQXG&tag=utellycom00-21'
                                native_ngtv:
                                  recipe_args:
                                    app: AmazonGN
                                    webURL: 'http://www.amazon.co.uk/gp/product/B00FWJOQXG?tag=utellycom00-21'
                              prices:
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                            - id: 5bb4911c6183703dfaba1a2c
                              name: ITunesGN
                              selected: false
                              favorited: false
                              provider:
                                name: ITunesGN
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/ITunesGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                native_ios:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-2/id599514922?uo=5&at=1l3v7yf'
                                webview_computer:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-2/id599514922?uo=5&at=1l3v7yf'
                                webview_android:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-2/id599514922?uo=5&at=1l3v7yf'
                              prices:
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                            - id: 5bab5b8b88d72aa33fd1b5a3
                              name: Rakuten
                              selected: false
                              favorited: false
                              provider:
                                name: Rakuten
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/Rakuten.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                native_ios:
                                  recipe_args:
                                    url: 'wuakitv://tv_shows/game-of-thrones'
                                webview_computer:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-2'
                                webview_ios:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-2'
                                webview_android:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-2'
                                native_ngtv:
                                  recipe_args:
                                    app: Rakuten
                                    webURL: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-2'
                              prices:
                                - type: Rent
                                  currency: GBP
                                  value: 16.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 22.99
                                  quality: HD
                                  requirements: null
                          description: null
                          values:
                            - element_order: 1
                              element_name: '1'
                              odevent_ids:
                                - 5bbdc9fdc8c735002fe65541
                              event_ids: null
                            - element_order: 10
                              element_name: '10'
                              odevent_ids:
                                - 5bbdca8ec8c735002fe6556a
                              event_ids: null
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5e85a7267e2a72c4e6d197bb
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5e85a6467e2a72c4e6d196de
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5e85a6577e2a72c4e6d196e3
                            - element_order: 2
                              element_name: '2'
                              odevent_ids:
                                - 5bbdca0ec8c735002fe65546
                              event_ids: null
                            - element_order: 3
                              element_name: '3'
                              odevent_ids:
                                - 5bbdca1dc8c735002fe6554b
                              event_ids: null
                            - element_order: 4
                              element_name: '4'
                              odevent_ids:
                                - 5bbdca3cc8c735002fe65550
                              event_ids: null
                            - element_order: 4
                              element_name: '4'
                              odevent_ids: null
                              event_ids:
                                - 5e7a21baac86669ce6eff3fc
                            - element_order: 4
                              element_name: '4'
                              odevent_ids: null
                              event_ids:
                                - 5e7a2219ac86669ce6eff977
                            - element_order: 4
                              element_name: '4'
                              odevent_ids: null
                              event_ids:
                                - 5e7a21b1ac86669ce6eff3e4
                            - element_order: 5
                              element_name: '5'
                              odevent_ids:
                                - 5bbdca4ec8c735002fe65555
                              event_ids: null
                            - element_order: 5
                              element_name: '5'
                              odevent_ids: null
                              event_ids:
                                - 5e7a21baac86669ce6eff3fd
                            - element_order: 5
                              element_name: '5'
                              odevent_ids: null
                              event_ids:
                                - 5e7a2219ac86669ce6eff978
                            - element_order: 5
                              element_name: '5'
                              odevent_ids: null
                              event_ids:
                                - 5e7a21b2ac86669ce6eff3e5
                            - element_order: 6
                              element_name: '6'
                              odevent_ids:
                                - 5bbdca5dc8c735002fe6555a
                              event_ids: null
                            - element_order: 6
                              element_name: '6'
                              odevent_ids: null
                              event_ids:
                                - 5e7a294dac86669ce6f03fd6
                            - element_order: 6
                              element_name: '6'
                              odevent_ids: null
                              event_ids:
                                - 5e7a28f8ac86669ce6f03a71
                            - element_order: 6
                              element_name: '6'
                              odevent_ids: null
                              event_ids:
                                - 5e7a28eeac86669ce6f03a59
                            - element_order: 7
                              element_name: '7'
                              odevent_ids:
                                - 5bbdca6dc8c735002fe6555f
                              event_ids: null
                            - element_order: 7
                              element_name: '7'
                              odevent_ids: null
                              event_ids:
                                - 5e7a28f8ac86669ce6f03a72
                            - element_order: 7
                              element_name: '7'
                              odevent_ids: null
                              event_ids:
                                - 5e7a294dac86669ce6f03fd7
                            - element_order: 7
                              element_name: '7'
                              odevent_ids: null
                              event_ids:
                                - 5e7a28eeac86669ce6f03a5a
                            - element_order: 8
                              element_name: '8'
                              odevent_ids:
                                - 5bbdca7bc8c735002fe65564
                              event_ids: null
                            - element_order: 8
                              element_name: '8'
                              odevent_ids: null
                              event_ids:
                                - 5e7a523fac86669ce6f15f0a
                            - element_order: 8
                              element_name: '8'
                              odevent_ids: null
                              event_ids:
                                - 5e7a51ceac86669ce6f15a98
                            - element_order: 8
                              element_name: '8'
                              odevent_ids: null
                              event_ids:
                                - 5e7a51b8ac86669ce6f15a80
                            - element_order: 9
                              element_name: '9'
                              odevent_ids:
                                - 5bbdca88c8c735002fe65568
                              event_ids: null
                            - element_order: 9
                              element_name: '9'
                              odevent_ids: null
                              event_ids:
                                - 5e7a51ceac86669ce6f15a99
                            - element_order: 9
                              element_name: '9'
                              odevent_ids: null
                              event_ids:
                                - 5e7a523fac86669ce6f15f0b
                            - element_order: 9
                              element_name: '9'
                              odevent_ids: null
                              event_ids:
                                - 5e7a51b8ac86669ce6f15a81
                          price_value: from £14.99
                        - category_name: '5'
                          category_order: 5
                          locations:
                            - id: 5bab5c3b88d72aa33fd1b5a5
                              name: AmazonGN
                              selected: false
                              favorited: false
                              provider:
                                name: AmazonGN
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/AmazonGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                webview_ios:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00ZE38QFY?tag=utellycom00-21'
                                webview_android:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00ZE38QFY?tag=utellycom00-21'
                                webview_computer:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00ZE38QFY?tag=utellycom00-21'
                                native_ios:
                                  recipe_args:
                                    url: 'aiv-uk://aiv/play?asin=B00ZE38QFY&tag=utellycom00-21'
                                native_ngtv:
                                  recipe_args:
                                    app: AmazonGN
                                    webURL: 'http://www.amazon.co.uk/gp/product/B00ZE38QFY?tag=utellycom00-21'
                              prices:
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                            - id: 5bb4911c6183703dfaba1a2c
                              name: ITunesGN
                              selected: false
                              favorited: false
                              provider:
                                name: ITunesGN
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/ITunesGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                native_ios:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-5/id996380769?uo=5&at=1l3v7yf'
                                webview_computer:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-5/id996380769?uo=5&at=1l3v7yf'
                                webview_android:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-5/id996380769?uo=5&at=1l3v7yf'
                              prices:
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                            - id: 5bab5b8b88d72aa33fd1b5a3
                              name: Rakuten
                              selected: false
                              favorited: false
                              provider:
                                name: Rakuten
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/Rakuten.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                native_ios:
                                  recipe_args:
                                    url: 'wuakitv://tv_shows/game-of-thrones'
                                webview_computer:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-5'
                                webview_ios:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-5'
                                webview_android:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-5'
                                native_ngtv:
                                  recipe_args:
                                    app: Rakuten
                                    webURL: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-5'
                              prices:
                                - type: Rent
                                  currency: GBP
                                  value: 16.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 22.99
                                  quality: HD
                                  requirements: null
                          description: null
                          values:
                            - element_order: 1
                              element_name: '1'
                              odevent_ids:
                                - 5bbdc99ec8c735002fe65527
                              event_ids: null
                            - element_order: 1
                              element_name: '1'
                              odevent_ids: null
                              event_ids:
                                - 5ea4344988e634eaff92bdb8
                            - element_order: 1
                              element_name: '1'
                              odevent_ids: null
                              event_ids:
                                - 5ea4348388e634eaff92c0e0
                            - element_order: 1
                              element_name: '1'
                              odevent_ids: null
                              event_ids:
                                - 5ea4343a88e634eaff92bda0
                            - element_order: 10
                              element_name: '10'
                              odevent_ids:
                                - 5bbdc9bbc8c735002fe65530
                              event_ids: null
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5eb80d17dfd48d28ef01e180
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5eb80cb9dfd48d28ef01dd65
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5eb80cc2dfd48d28ef01dd7d
                            - element_order: 11
                              element_name: '11'
                              odevent_ids:
                                - 5e90ccc2316f874314082d36
                              event_ids: null
                            - element_order: 2
                              element_name: '2'
                              odevent_ids:
                                - 5bbdc9a1c8c735002fe65528
                              event_ids: null
                            - element_order: 2
                              element_name: '2'
                              odevent_ids: null
                              event_ids:
                                - 5ea5919b053d637507218738
                            - element_order: 2
                              element_name: '2'
                              odevent_ids: null
                              event_ids:
                                - 5ea59164053d637507218456
                            - element_order: 2
                              element_name: '2'
                              odevent_ids: null
                              event_ids:
                                - 5ea5916a053d637507218466
                            - element_order: 3
                              element_name: '3'
                              odevent_ids:
                                - 5bbdc9a4c8c735002fe65529
                              event_ids: null
                            - element_order: 3
                              element_name: '3'
                              odevent_ids: null
                              event_ids:
                                - 5ea59164053d637507218457
                            - element_order: 3
                              element_name: '3'
                              odevent_ids: null
                              event_ids:
                                - 5ea5919b053d637507218739
                            - element_order: 3
                              element_name: '3'
                              odevent_ids: null
                              event_ids:
                                - 5ea5916a053d637507218467
                            - element_order: 4
                              element_name: '4'
                              odevent_ids:
                                - 5bbdc9a7c8c735002fe6552a
                              event_ids: null
                            - element_order: 4
                              element_name: '4'
                              odevent_ids: null
                              event_ids:
                                - 5ead87232b2f7ec6e3c5c7fa
                            - element_order: 4
                              element_name: '4'
                              odevent_ids: null
                              event_ids:
                                - 5ead87152b2f7ec6e3c5c7e2
                            - element_order: 4
                              element_name: '4'
                              odevent_ids: null
                              event_ids:
                                - 5ead87802b2f7ec6e3c5cc0e
                            - element_order: 5
                              element_name: '5'
                              odevent_ids:
                                - 5bbdc9aac8c735002fe6552b
                              event_ids: null
                            - element_order: 5
                              element_name: '5'
                              odevent_ids: null
                              event_ids:
                                - 5ead87152b2f7ec6e3c5c7e3
                            - element_order: 5
                              element_name: '5'
                              odevent_ids: null
                              event_ids:
                                - 5ead87812b2f7ec6e3c5cc0f
                            - element_order: 5
                              element_name: '5'
                              odevent_ids: null
                              event_ids:
                                - 5ead87242b2f7ec6e3c5c7fb
                            - element_order: 6
                              element_name: '6'
                              odevent_ids:
                                - 5bbdc9acc8c735002fe6552c
                              event_ids: null
                            - element_order: 6
                              element_name: '6'
                              odevent_ids: null
                              event_ids:
                                - 5eaed0cf3727d732bd204605
                            - element_order: 6
                              element_name: '6'
                              odevent_ids: null
                              event_ids:
                                - 5eaed1153727d732bd2049f0
                            - element_order: 6
                              element_name: '6'
                              odevent_ids: null
                              event_ids:
                                - 5eaed0c83727d732bd2045ee
                            - element_order: 7
                              element_name: '7'
                              odevent_ids:
                                - 5bbdc9afc8c735002fe6552d
                              event_ids: null
                            - element_order: 7
                              element_name: '7'
                              odevent_ids: null
                              event_ids:
                                - 5eaed0d03727d732bd204606
                            - element_order: 7
                              element_name: '7'
                              odevent_ids: null
                              event_ids:
                                - 5eaed0c83727d732bd2045ef
                            - element_order: 7
                              element_name: '7'
                              odevent_ids: null
                              event_ids:
                                - 5eaed1153727d732bd2049f1
                            - element_order: 8
                              element_name: '8'
                              odevent_ids:
                                - 5bbdc9b3c8c735002fe6552e
                              event_ids: null
                            - element_order: 8
                              element_name: '8'
                              odevent_ids: null
                              event_ids:
                                - 5eb6d0c533496a60a3138f14
                            - element_order: 8
                              element_name: '8'
                              odevent_ids: null
                              event_ids:
                                - 5eb6d03a33496a60a3138aac
                            - element_order: 8
                              element_name: '8'
                              odevent_ids: null
                              event_ids:
                                - 5eb6d04633496a60a3138ac3
                            - element_order: 9
                              element_name: '9'
                              odevent_ids:
                                - 5bbdc9b6c8c735002fe6552f
                              event_ids: null
                            - element_order: 9
                              element_name: '9'
                              odevent_ids: null
                              event_ids:
                                - 5eb6d0c533496a60a3138f15
                            - element_order: 9
                              element_name: '9'
                              odevent_ids: null
                              event_ids:
                                - 5eb6d03a33496a60a3138aad
                            - element_order: 9
                              element_name: '9'
                              odevent_ids: null
                              event_ids:
                                - 5eb6d04733496a60a3138ac4
                          price_value: from £14.99
                        - category_name: '4'
                          category_order: 4
                          locations:
                            - id: 5bab5c3b88d72aa33fd1b5a5
                              name: AmazonGN
                              selected: false
                              favorited: false
                              provider:
                                name: AmazonGN
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/AmazonGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                webview_ios:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00KR9VROM?tag=utellycom00-21'
                                webview_android:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00KR9VROM?tag=utellycom00-21'
                                webview_computer:
                                  recipe_args:
                                    url: 'http://www.amazon.co.uk/gp/product/B00KR9VROM?tag=utellycom00-21'
                                native_ios:
                                  recipe_args:
                                    url: 'aiv-uk://aiv/play?asin=B00KR9VROM&tag=utellycom00-21'
                                native_ngtv:
                                  recipe_args:
                                    app: AmazonGN
                                    webURL: 'http://www.amazon.co.uk/gp/product/B00KR9VROM?tag=utellycom00-21'
                              prices:
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                            - id: 5bb4911c6183703dfaba1a2c
                              name: ITunesGN
                              selected: false
                              favorited: false
                              provider:
                                name: ITunesGN
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/ITunesGN.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                native_ios:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-4/id890421174?uo=5&at=1l3v7yf'
                                webview_computer:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-4/id890421174?uo=5&at=1l3v7yf'
                                webview_android:
                                  recipe_args:
                                    url: 'https://itunes.apple.com/gb/tv-season/game-of-thrones-season-4/id890421174?uo=5&at=1l3v7yf'
                              prices:
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: SD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 14.99
                                  quality: HD
                                  requirements: null
                            - id: 5bab5b8b88d72aa33fd1b5a3
                              name: Rakuten
                              selected: false
                              favorited: false
                              provider:
                                name: Rakuten
                              icon: 'https://utellyassets7.imgix.net/locations_icons/utelly/black_new/Rakuten.png?w=92&auto=compress&app_version=ae3576e2-0796-4eda-b953-80cadc8e2619_eww2020-05-13'
                              service_icon: null
                              play_option_icon: null
                              dual_att_icon: null
                              addons: []
                              type: on_demand
                              category: null
                              play_target_template: null
                              is_extra: false
                              parent: null
                              targets:
                                native_ios:
                                  recipe_args:
                                    url: 'wuakitv://tv_shows/game-of-thrones'
                                webview_computer:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-4'
                                webview_ios:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-4'
                                webview_android:
                                  recipe_args:
                                    url: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-4'
                                native_ngtv:
                                  recipe_args:
                                    app: Rakuten
                                    webURL: 'https://uk.wuaki.tv/tv_shows/game-of-thrones/seasons/game-of-thrones-4'
                              prices:
                                - type: Rent
                                  currency: GBP
                                  value: 16.99
                                  quality: HD
                                  requirements: null
                                - type: Buy
                                  currency: GBP
                                  value: 22.99
                                  quality: HD
                                  requirements: null
                          description: null
                          values:
                            - element_order: 1
                              element_name: '1'
                              odevent_ids:
                                - 5bbdc9dac8c735002fe65538
                              event_ids: null
                            - element_order: 1
                              element_name: '1'
                              odevent_ids: null
                              event_ids:
                                - 5e89c77e69ea648b9e717a5d
                            - element_order: 1
                              element_name: '1'
                              odevent_ids: null
                              event_ids:
                                - 5e89c74b69ea648b9e7176f8
                            - element_order: 1
                              element_name: '1'
                              odevent_ids: null
                              event_ids:
                                - 5e89c74469ea648b9e7176e0
                            - element_order: 10
                              element_name: '10'
                              odevent_ids:
                                - 5bbdca78c8c735002fe65563
                              event_ids: null
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5ea4344988e634eaff92bdb7
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5ea4348288e634eaff92c0df
                            - element_order: 10
                              element_name: '10'
                              odevent_ids: null
                              event_ids:
                                - 5ea4343988e634eaff92bd9f
                            - element_order: 11
                              element_name: '11'
                              odevent_ids:
                                - 5e90ccec316f874314082d3d
                              event_ids: null
                            - element_order: 2
                              element_name: '2'
                              odevent_ids:
                                - 5bbdc9eac8c735002fe6553c
                              event_ids: null
                            - element_order: 2
                              element_name: '2'
                              odevent_ids: null
                              event_ids:
                                - 5e91c85a48b2b6cde2639d8c
                            - element_order: 2
                              element_name: '2'
                              odevent_ids: null
                              event_ids:
                                - 5e91c80a48b2b6cde2639953
                            - element_order: 2
                              element_name: '2'
                              odevent_ids: null
                              event_ids:
                                - 5e91c7ff48b2b6cde263993b
                            - element_order: 3
                              element_name: '3'
                              odevent_ids:
                                - 5bbdc9fac8c735002fe65540
                              event_ids: null
                            - element_order: 3
                              element_name: '3'
                              odevent_ids: null
                              event_ids:
                                - 5e91c85a48b2b6cde2639d8d
                            - element_order: 3
                              element_name: '3'
                              odevent_ids: null
                              event_ids:
                                - 5e91c80048b2b6cde263993c
                            - element_order: 3
                              element_name: '3'
                              odevent_ids: null
                              event_ids:
                                - 5e91c80a48b2b6cde2639954
                            - element_order: 4
                              element_name: '4'
                              odevent_ids:
[...]
