openapi: 3.0.0
info:
  title: phoenix_api
  version: '9'
servers:
  - url: 'https://api.utelly.com/phoenix/9'
    description: prod
paths:
  /genres:
    get:
      summary: Get genres
      tags:
        - Genre Management
      responses:
        '200':
          description: OK
      operationId: get-68bd0c9d-3261-49e9-b464-969763fbf444
  /locations:
    get:
      summary: Get locations
      tags:
        - Location Management
      responses:
        '200':
          description: OK
      operationId: get-5d0557ae-c86e-4798-8c2b-849d33cc382e
  /search:
    post:
      summary: Search
      tags:
        - Search Management
      responses:
        '200':
          description: OK
      operationId: post-2aa4db27-aba6-4b87-96ae-9b34f7ee9404
  '/collection/{collection_id}/info':
    get:
      summary: Get collection info
      tags:
        - Collection Management
      responses:
        '200':
          description: OK
      operationId: get-e82a04e7-18a8-4ca6-8e00-baf4afac6f0e
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: collection_id
        in: path
        required: true
  /lookup:
    get:
      summary: Lookup by term
      tags:
        - Lookup Management
      responses:
        '200':
          description: OK
      operationId: get-e66cfdb6-51e1-4c68-90ef-60a031eb3150
      parameters:
        - schema:
            type: string
          in: query
          name: term
  /idlookup:
    get:
      summary: Lookup by id
      tags:
        - Lookup Management
      responses:
        '200':
          description: OK
      operationId: get-96ef61dc-14e1-4c6d-b82b-8df6cb1e1248
  '/user/{email}/reset/password':
    get:
      summary: Reset password init
      tags:
        - User Management
      responses:
        '200':
          description: OK
      operationId: get-3830adf1-a575-42e9-9ce3-aff317e195a3
    post:
      summary: Your POST endpoint
      tags: []
      responses:
        '200':
          description: OK
      operationId: post-0dd39fd6-92cf-42d6-9e36-958ec3c000e3
    parameters:
      - schema:
          type: string
        name: email
        in: path
        required: true
  /user:
    get:
      summary: Login user
      tags:
        - User Management
      responses:
        '200':
          description: OK
      operationId: get-de125918-2c39-4700-9a17-a452d02fc804
    post:
      summary: Register user
      tags: []
      responses:
        '200':
          description: OK
      operationId: post-ef01c7f8-07f1-47ea-a5d8-eea32794ca9c
    put:
      summary: Update user
      operationId: put-user
      responses:
        '200':
          description: OK
  '/user/{user_guid}/logout':
    get:
      summary: Logout user
      tags:
        - User Management
      responses:
        '200':
          description: OK
      operationId: get-cccd00e8-8bc9-4cf0-9852-7ed569abe0fe
      description: ''
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/reset/{object}':
    get:
      summary: Reset user
      tags:
        - User Management
      responses:
        '200':
          description: OK
      operationId: get-747dda51-1167-4bef-ac53-c894394d0b51
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
      - schema:
          type: string
        name: object
        in: path
        required: true
  '/user/{user_guid}/activity':
    post:
      summary: Create a new activity
      tags:
        - Activity Management
      responses:
        '200':
          description: OK
      operationId: post-e706298b-8e31-45fc-8fbc-ba3f96b86b51
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/tastes':
    get:
      summary: Get user tastes
      tags:
        - Tastes Management
      responses:
        '200':
          description: OK
      operationId: get-c85e159a-996e-43b9-94f7-1eb2d7c98a45
    post:
      summary: Set user tastes
      tags: []
      responses:
        '200':
          description: OK
      operationId: post-d322c392-f261-4c3f-bfdc-673f6a9f465b
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/ratings':
    get:
      summary: Get user ratings
      responses:
        '200':
          description: OK
      operationId: get-bd334e2a-8013-4219-97ab-96cf8af5654d
      tags:
        - Rating Management
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/preferences':
    get:
      summary: Get user preferences
      tags:
        - User Management
      responses:
        '200':
          description: OK
      operationId: get-938d7f6d-ce64-4c6e-90a4-446434938e81
    post:
      summary: Set user preferences
      tags: []
      responses:
        '200':
          description: OK
      operationId: post-4201ec0c-9abc-4624-87eb-99837f12e266
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/trackers':
    get:
      summary: Get user trackers
      tags:
        - Tracker Management
      responses:
        '200':
          description: OK
      operationId: get-47ae7b98-a4b6-4066-ab07-561b189e41f0
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
  '/user/{user_guid}/tracker/{tracker_id}':
    post:
      summary: Create user tracker
      tags: []
      responses:
        '200':
          description: OK
      operationId: post-dd62e6cb-ef17-4f69-8b74-e1b60abf3e18
    delete:
      summary: Delete user tracker
      tags: []
      responses:
        '200':
          description: OK
      operationId: delete-1efc9755-42d2-4be4-b754-237ff2bfb980
    get:
      summary: Get user tracker
      tags:
        - Tracker Management
      responses:
        '200':
          description: OK
      operationId: get-f47e45c4-8c9c-4603-b778-3e06e03c6e6c
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: tracker_id
        in: path
        required: true
  '/user/{user_guid}/{event_type}/{event_id}/rate':
    post:
      summary: Create user event rating
      tags:
        - Rating Management
      responses:
        '200':
          description: OK
      operationId: post-7cace0c2-3344-4f7e-84cf-038ab9f7641c
    parameters:
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: user_guid
        in: path
        required: true
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: event_id
        in: path
        required: true
      - schema:
          type: string
          enum:
            - event
            - odevent
        name: event_type
        in: path
        required: true
  '/{event_type}/{event_id}/trailer':
    get:
      summary: Get event trailer
      tags:
        - Event Management
      responses:
        '200':
          description: OK
      operationId: get-8ba31d55-f6d1-4964-ae80-9f5012e5c5a8
    parameters:
      - schema:
          type: string
          enum:
            - event
            - odevent
        name: event_type
        in: path
        required: true
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: event_id
        in: path
        required: true
  '/{event_type}/{event_id}/info':
    get:
      summary: Get event details
      tags:
        - Event Management
      responses:
        '200':
          description: OK
      operationId: get-2edd8aa8-0958-49b8-a730-679a4ae1b368
    parameters:
      - schema:
          type: string
          enum:
            - event
            - odevent
        name: event_type
        in: path
        required: true
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: event_id
        in: path
        required: true
  '/{event_type}/{event_id}/gallery':
    get:
      summary: Get event gallery
      tags:
        - Event Management
      responses:
        '200':
          description: OK
      operationId: get-e798b69f-50cb-40b5-a6d6-a6ed3656ffe8
    parameters:
      - schema:
          type: string
          enum:
            - event
            - odevent
        name: event_type
        in: path
        required: true
      - schema:
          type: string
          pattern: '^([A-Fa-f0-9]){24}$'
        name: event_id
        in: path
        required: true
components:
  schemas: {}
  securitySchemes:
    Autorization:
      name: Autorization
      type: apiKey
      in: header
    X-AppKey:
      name: X-AppKey
      type: apiKey
      in: header
security:
  - Autorization: []
  - X-AppKey: []
